<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musical Chairs</title>
  <link rel="stylesheet" href="https://use.typekit.net/sfv1qgc.css">
  <link rel="stylesheet" href="/css/style.css" />
  
  <link rel="stylesheet" href="/css/jass.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
   
</head>
<section>
        <img id="jumbotron-fluid" src="../../Images/concert.jpg" class="w-100" style="padding: 0rem !important; margin-bottom: 0px; height: 415px;" alt="concert">
</section

<body>
  <header>
    <h1 class="text-center pt-3">
      Musical Chairs Login 
    </h1>
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <main class="container">

    {{{ body }}}

  </main>
  <footer class="pt-3">
    <div class="row px-3 py-4 p-lg-5 text-white mc-bg-primary">
      <div class="col-lg-4">
        <p>MUSICAL CHAIRS</p>
        </div>
        <div class="col-lg-4">
          <p>Talk to a human <a href="telephone: 414-555-0420"></a>414-555-0420</a></p>
        </div>
        <div class="col-lg-4">
          <p>Email us at <a href="mailto:info@coolcompany.biz">tickets@musical-chairs.com</a></p>
        </div>
    </div>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
