<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musical Chairs</title>
  <link rel="stylesheet" href="https://use.typekit.net/sfv1qgc.css">
  <link rel="stylesheet" href="/css/style.css" />
  
  <link rel="stylesheet" href="/css/jass.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">

   
</head>
<section>
        <img id="jumbotron-fluid" src="../../Images/concert.jpg" class="w-100" style="padding: 0rem !important; margin-bottom: 0px; height: 415px;" alt="concert">
</section

<body>
  <header>
    {{#if logged_in}}
    <nav class="navbar navbar-expand-lg mc-bg-secondary text-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Musical Chairs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
            <button class="btn" id="logout">logout</button>
          </div>
        </div>
      </div>
    </nav>
    {{/if}}

  </header>
  <main>


    {{{ body }}}

  </main>
  <footer class="px-3 py-4 p-lg-5 text-white mc-bg-primary">
    <div class="row  ">
      <div class="col-lg-4">
        <p>MUSICAL CHAIRS</p>
      </div>
      <div class="col-lg-4">
        <p>Talk to a human <a href="tel: 414-555-0420"></a>414-555-0420</a></p>
      </div>
      <div class="col-lg-4">
        <p>Email us at <a href="mailto:info@coolcompany.biz">tickets@musical-chairs.com</a></p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <p class="">© 2022 Musical Chairs - All Rights Reserved</p>
      </div>
    </div>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
