<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/jass.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/style.css"/>
</head>
<section class="jumbotron jumbotron-fluid">
    <div class="container">
 
      <div class="row align-items-end">
        <div class="col-12 col-md-6">
          <img id="jumbotron" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlt4DA8Rovvg_tuvgPYblf8zvmTEwF61a-4A&usqp=CAU" alt="concert goer sillohette"/>
        </div>
        
        <div class="col-12 col-md-6">
         
      
        </div>
      </div>
    </div>
</section

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      User Registry
    </h1>
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">



    {{{ body }}}

<section class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-4">
            <address>
              <h2>MUSICAL CHAIRS</h2>
    
              <h5>
                Talk to a human <a href="telephone: 414-555-0420"></a>414-555-0420</a>
              </h5>
    
              <h5>
                Email us at <a href="mailto:info@coolcompany.biz">tickets@musical-chairs.com</a>
              </h5>
    
            </address>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
       
              </div>
              
            </form>
          </div>
        </section>
      </main>

  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
