{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE YURT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body> --}}
    <h1>THE AUDITORIUM</h1>
   <h2></h2> ABOUT THE YURT</h2>
    <a href="/">HOME PAGE</a>
    <div>
        <img id="auditorium-pic" src="https://th.bing.com/th/id/OIP.qk8czIJPz5BLxdCGnzI7gQHaE8?w=298&h=199&c=7&r=0&o=5&pid=1.7" alt="pic of historic auditorium"/>

        <img id="auditorium-pic" src="   https://th.bing.com/th?q=Lowell+Memorial+Auditorium+Seating+Chart&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=en-US&cc=US&setlang=en&adlt=moderate&t=1&mw=247" alt="pic of historic auditorium"/>
    </div>
    <div>



       
    </div>





{{!-- </body>
</html> --}}