{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE YURT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body> --}}
    <h1>THE BIG BASEMENT</h1>
    <h2></h2> ABOUT THE YURT</h2>

    <link href="#">MAIN SITE

    <div>
        <img id="basement-pic"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCYk7cFaPm5-EGhsD8oEZcIVIsSbAPfYMx9Q&usqp=CAU"  alt="pic of BIG=BASEMENT"/>

        <img id="basement-pic"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy_XgL4P-AZZiiMcRmZnTOY8nLWipnyZPpkw&usqp=CAU"  alt="pic of BIG=BASEMENT"/>

        

    </div>
    <div>



        
    </div>





{{!-- </body>
</html> --}}