<h1>EVENTS</h1>
<a href="/">HOMEPAGE</a>
<h2>{{{event}}}</h2>
<select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="4">Four</option>
  <option value="5">Five</option>
</select>




{{#if venue.num_seats < 0}}
<h2>SOLD OUT!</h2>
{{/if}}
