
        <div class="container-fluid px-3 py-4 p-lg-5 bg-light">
          <div class="row align-items-center">  
            <div class="col-lg-6">
              <img  src="../../Images/peaceSign.jpg" class="w-100 object-fit"  alt="Peace Sign">
            </div> 
            <div class="col-lg-6">
              <h1>MUSICAL CHAIRS</h1>
              <p class="fw-bold text-uppercase">THE BEST PLACE ON THE WEB TO RESERVE YOUR CONCERT TICKETS</p>
            </div>
          </div>
        </div>
      <div class="container">
        <h2>Our Venues</h2>
        <div class="row row-cols-lg-3 row-cols-1 g-4 justify-items-center">
          <div class="col">
            <div class="card h-100" style="width: 18rem;">
              <img src="../../Images/yurt.jpg" class="card-img-top object-cover" alt="yurt">
              <div class="card-body">
                <h5 class="card-title">THE YURT</h5>
                <p class="card-text">THE YURT is a year round intimate concert in the round venue.
                </p>
                <a href="/yurt" class="btn mc-btn-primary">THE YURT</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100" style="width: 18rem;">
              <img src="../../Images/basement.jpg" class="card-img-top object-cover" alt="basement">
              <div class="card-body">
                <h5 class="card-title">THE BASEMENT</h5>
                <p class="card-text">THE BASEMENT is a year round intimate concert in the round venue.
                </p>
                <a href="/basement" class="btn mc-btn-primary">THE BASEMENT</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100" style="width: 18rem;">
              <img src="../../Images/auditorium.jpg" class="card-img-top object-cover" alt="auditorium">
              <div class="card-body">
                <h5 class="card-title">THE AUDITORIUM</h5>
                <p class="card-text">THE AUDITORIUM is a year round intimate concert in the round venue.
                </p>
                <a href="/auditorium" class="btn mc-btn-primary">THE AUDITORIUM</a>
              </div>
            </div>
          </div>
          <div class="col py-3">
            <div class="card h-100" style="width: 18rem;">
              <img src="../../Images/bigbasment.jpg" class="card-img-top object-cover" alt="auditorium">
              <div class="card-body">
                <h5 class="card-title">THE BIG BASEMENT</h5>
                <p class="card-text">THE BIG BASEMENT is a general admission all standing concert venue in the biggest basement any of our parents had
                </p>
                <a href="/bigBasement" class="btn mc-btn-primary">Big Basement</a>
              </div>
            </div>
          </div>
        </div>
        <div class="container px-3 py-4 p-lg-4">  
           <div class="row justify-content-center">
              <div class="col-lg-7 text-center "> 
                 <h3>CONCERT CLIP FOOTAGE</h3>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/BE_iKljkN-o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="container px-3 py-4 p-lg-5">
            <div class="row text-center">
              <div class="col">
                <h3>CALENDAR OF EVENTS</h3>
                <p>
                  CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS
                
                  CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS
                
                  CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS
                
                  CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS
                
                  CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS
                
                  CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS CONCERTS
                </p>
                </div>
              </div>
            </div>
