
{{!-- {{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}} --}}




    <header class="jumbotron jumbotron-fluid">
        <div class="container">
     
          <div class="row align-items-end">
            <div class="col-12 col-md-6">
            
            </div>
            
            <div class="col-12 col-md-6">
              <h1>MUSICAL CHAIRS</h1>
              <p><h3>THE BEST PLACE ON THE WEB TO RESERVE YOUR CONCERT TICKETS</h3></p>
          
            </div>
          </div>
        </div>
      </header>
    
      <main class="container">
        <section class="row">
          <div class="col-12 col-md-9">
            <h2>Our Venues</h2>
    
 <h1>VENUES</h1>
    <h1>THE YURT</h1>
    <a href="/yurt">THE YURT</a>

    <h1>THE BASEMENT</h1>
    <a href="/basement">THE BASEMENT</a>

    <h1>THE AUDITORIUM</h1>
    <a href="/auditorium">THE AUDITORIUM</a>

            <section class="row justify-content-around">
    
              <div class="col-12 col-sm-6 col-lg-4 mb-3">
                <div class="card">
                  <h3 class="card-header">
                    THE YURT
                  </h3>
                  <div class="card-body">
                    <p class="card-text">
                    THE YURT is a year round intimate concert in the round venue.
                    </p>
                    <img id="yurt-pic" src="https://th.bing.com/th/id/OIP.2r7MBmHe_MrSRQw775PY2AHaEn?w=289&h=180&c=7&r=0&o=5&pid=1.7"  alt="picture of the yurt concert venue" />
                   
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 mb-3">
                <div class="card">
                  <h3 class="card-header">
                    THE BIG BASEMENT
                  </h3>
                  <div class="card-body">
                    <p class="card-text">
                      THE BIG BASEMENT is a general admission all standing concert venue in the biggest basement any of our parents had
                    </p>
                    <img id="basement-pic"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCYk7cFaPm5-EGhsD8oEZcIVIsSbAPfYMx9Q&usqp=CAU"  alt="pic of BIG=BASEMENT"/>
                   
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 mb-3">
                <div class="card">
                  <h3 class="card-header">
                    THE AUDITORIUM
                  </h3>
                  <div class="card-body">
                    <p class="card-text">
                     THE AUDITORIUM is a historic performing arts venue located at the defunct Holy Angels Academy. 
                    </p>
                    <img id="auditorium-pic" src="https://th.bing.com/th/id/OIP.qk8czIJPz5BLxdCGnzI7gQHaE8?w=298&h=199&c=7&r=0&o=5&pid=1.7" alt="pic of historic auditorium"/>
                   
                  </div>
                </div>
            </div>

            <section class="jumbotron jumbotron-fluid">
                <div class="container">
             
                  <div class="row align-items-end">
                    <div class="col-12 col-md-6">
                        <h1>CONCERT CLIP FOOTAGE</h1>
                      <img class="concert-reel-footage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZlI3XtgrjJzhon2G88D9SrBC5F-YTyAZaBw&usqp=CAU" alt="concert clips" />
                    </div>
                    
                    <div class="col-12 col-md-6">
                     
                  
                    </div>
                  </div>
                </div>
            </section>
           
            </section>
          </div>
          <div class="col-12 col-md-3">
            <h1>CALENDAR OF EVENTS</h1>
            <p>
              CONCERTS CONCERTS  CONCERTS CONCERTS  CONCERTS CONCERTS  CONCERTS CONCERTS

              CONCERTS CONCERTS  CONCERTS CONCERTS  CONCERTS CONCERTS  CONCERTS CONCERTS

              CONCERTS CONCERTS  CONCERTS CONCERTS  CONCERTS CONCERTS  CONCERTS CONCERTS

              CONCERTS CONCERTS  CONCERTS CONCERTS  CONCERTS CONCERTS  CONCERTS CONCERTS

              CONCERTS CONCERTS  CONCERTS CONCERTS  CONCERTS CONCERTS  CONCERTS CONCERTS

              CONCERTS CONCERTS  CONCERTS CONCERTS  CONCERTS CONCERTS  CONCERTS CONCERTS
            </p>
          </div>
        </section>
    
        <hr />
        <!-- justify-content-center changes the alignment of flex items to center axis -->
        <section class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-4">
       
          </div>
          <div class="col-12 col-sm-6 col-md-4">
       
              </div>
              
            </form>
          </div>
        </section>
      </main>
