<div class="container-fluid px-3 py-4 p-lg-5 bg-light">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <img
        src="../../Images/peaceSign.jpg"
        class="w-100 object-fit"
        alt="Peace Sign"
      />
    </div>
    <div class="col-lg-6">
      <h1>MUSICAL CHAIRS</h1>
      <p class="fw-bold text-uppercase">THE BEST PLACE ON THE WEB TO RESERVE
        YOUR CONCERT TICKETS</p>
    </div>
  </div>
</div>
<div class="container">
  <h2>Our Venues</h2>
  <div class="row row-cols-lg-3 row-cols-1 g-4 justify-items-center">
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img
          src="../../Images/yurt.jpg"
          class="card-img-top object-cover"
          alt="yurt"
        />
        <div class="card-body">
          <h5 class="card-title">THE YURT</h5>
          <p class="card-text">THE YURT is a year round intimate concert in the
            round venue.
          </p>
          <a href="/yurt" class="btn mc-btn-primary">THE YURT</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img
          src="../../Images/basement.jpg"
          class="card-img-top object-cover"
          alt="basement"
        />
        <div class="card-body">
          <h5 class="card-title">THE BASEMENT</h5>
          <p class="card-text">THE BASEMENT is a year round intimate concert in
            the round venue.
          </p>
          <a href="/basement" class="btn mc-btn-primary">THE BASEMENT</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img
          src="../../Images/auditorium.jpg"
          class="card-img-top object-cover"
          alt="auditorium"
        />
        <div class="card-body">
          <h5 class="card-title">THE AUDITORIUM</h5>
          <p class="card-text">THE AUDITORIUM is a year round intimate concert
            in the round venue.
          </p>
          <a href="/auditorium" class="btn mc-btn-primary">THE AUDITORIUM</a>
        </div>
      </div>
    </div>
    <div class="col py-3">
      <div class="card h-100" style="width: 18rem;">
        <img
          src="../../Images/bigbasment.jpg"
          class="card-img-top object-cover"
          alt="auditorium"
        />
        <div class="card-body">
          <h5 class="card-title">THE BIG BASEMENT</h5>
          <p class="card-text">THE BIG BASEMENT is a general admission all
            standing concert venue in the biggest basement any of our parents
            had
          </p>
          <a href="/bigBasement" class="btn mc-btn-primary">Big Basement</a>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img
          src="../../Images/sofi-stadium.jpg"/////done
          class="card-img-top object-cover"
          alt="sofi"
        />
        <div class="card-body">
          <h5 class="card-title">SOFI STADIUM</h5>
          <p class="card-text">Sofi Stadium is a mixed use venue in Los Angeles that is home to the LA Rams and LA Chargers 
          </p>
          <a href="/sofi" class="btn mc-btn-primary">SOFI STADIUM</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img
          src="../../Images/croke_park.jpg"/////do
          class="card-img-top object-cover"
          alt="sofi-stadium"
        />
        <div class="card-body">
          <h5 class="card-title">CROKE PARK</h5>
          <p class="card-text">CROKE PARK is an outdoor concert adn Irish Football stadium in Dublin, Ireland.
          </p>
          <a href="/croke" class="btn mc-btn-primary">CROKE PARK</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img
          src="../../Images/edens-garden.jpg"/////do
          class="card-img-top object-cover"
          alt="croke-park"
        />
        <div class="card-body">
          <h5 class="card-title">EDENS GARDENS</h5>
          <p class="card-text">EDENS GARDENS is an outdoor concert and cricket venue in Kolkata, India 
          </p>
          <a href="/eden" class="btn mc-btn-primary">EDENS GARDENS</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img
          src="../../Images/caesars-superdome.jpg"/////do
          class="card-img-top object-cover"
          alt="eden-garden"
        />
        <div class="card-body">
          <h5 class="card-title">THE CAESARS SUPERDOME</h5>
          <p class="card-text">THE CAESARS SUPERDOME is a football arena in New Orleans, Louisianna that has been home to many Superbowls
          </p>
          <a href="/caesars" class="btn mc-btn-primary">CAESARS SUPERDOME</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img
          src="../../Images/alamo-dome.jpg"/////do
          class="card-img-top object-cover"
          alt="ALAMO-DOME"
        />
        <div class="card-body">
          <h5 class="card-title">THE ALAMO DOME</h5>
          <p class="card-text">THE ALAMO DOME is a year round indoor venue in San Antonio, Texas that has hosted NCAA Final Four and the San Antonio Rodeo
          </p>
          <a href="/alamo" class="btn mc-btn-primary">THE ALAMO DOME</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img
          src="../../Images/volkspark_stadion.jpg"/////do
          class="card-img-top object-cover"
          alt="volkspark stadium"
        />
        <div class="card-body">
          <h5 class="card-title">VOLKSPARK STADION</h5>
          <p class="card-text">VOLKSPARK STADION is a year round concert and football stadium in Hamburg, Germany
          </p>
          <a href="/volkspark" class="btn mc-btn-primary">VOLKSPARK STADION</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-3 py-4 p-lg-4">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center">
        <h3>CONCERT CLIP FOOTAGE</h3>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/BE_iKljkN-o"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="container px-3 py-4 p-lg-5">
    <div class="row text-center">
      <div class="col">
        <h3>CALENDAR OF EVENTS</h3>

          <h3>December</h3>
            <div class="card mb-3">
              <img src="../../gifs/NAV_Travis_Scott__Never_Sleep_ft_Lil_Baby.gif" class="card-img-top" alt="Nav" />
              <div class="card-body">
                <h5 class="card-title">NAV</h5>
                <h5>Saturday, December 31st 2022</h5> 
                <a href="/events">Reserve seats now!</a>
              </div>
            </div>  

          <h3>January</h3>
            <div class="card mb-3">
              <img src="../../gifs/Aerosmith__I_Dont_Want_to_Miss_a_Thing_Official_HD_Video.gif" class="card-img-top" alt="aerosmith" />
              <div class="card-body">
                <h5 class="card-title">AEROSMITH</h5>
                <h5>Saturday, January 7th 2023</h5>
                <a href="/events">Reserve seats now!</a>
              </div>
            </div>  
            <div class="card mb-3">
              <img src="../../gifs/Big_KRIT__Money_On_The_Floor_Explicit_Official_Music_Video.gif" class="card-img-top" alt="Big K.R.I.T." />
              <div class="card-body">
                <h5 class="card-title">Big K.R.I.T.</h5>
                <h5>Thursday, January 12th 2023</h5>
                <a href="/events">Reserve seats now!</a>
              </div>
            </div>  

          <h3>February</h3>
            <div class="card mb-3">
              <img src="../../gifs/Happy_Mondays__Step_On_Official_Music_Video.gif" class="card-img-top" alt="Happy Mondays" />
              <div class="card-body">
                <h5 class="card-title">HAPPY MONDAYS</h5>
                <h5>Friday, February 10th 2023</h5>
                <a href="/events">Reserve seats now!</a>
              </div>
            </div> 

          <h3>March</h3>
            <div class="card mb-3">
              <img src="../../gifs/Post_Malone_ft_21_Savage__rockstar_Official_Music_Video.gif" class="card-img-top" alt="Post Malone" />
              <div class="card-body">
                <h5 class="card-title">POST MALONE</h5>
                <h5>Thursday, March 4th 2023</h5>
                <a href="/events">Reserve seats now!</a> 
              </div>
            </div> 
            <div class="card mb-3">
              <img src="../../gifs/The_Beatles__Dont_Let_Me_Down.gif" class="card-img-top" alt="The Beetles" />
              <div class="card-body">
                <h5 class="card-title">THE BEETLES</h5>
                <h5>Saturday, March 25th 2023</h5>
                <a href="/events">Reserve seats now!</a>
              </div>
            </div> 

          <h3>April</h3>
            <div class="card mb-3">
              <img src="../../gifs/blackbear__hazel_inside_Official_Video.gif" class="card-img-top" alt="Blackbear" />
              <div class="card-body">
                <h5 class="card-title">BLACKBEAR</h5>
                <h5>Friday, April 21st 2023</h5>
                <a href="/events">Reserve seats now!</a>
              </div>
            </div> 

          <h3>May</h3>
            <div class="card mb-3">
              <img src="../../gifs/Marshmello_and_AnneMarie__FRIENDS_Music_Video_OFFICIAL_FRI.gif" class="card-img-top" alt="Marshmello" />
              <div class="card-body">
                <h5 class="card-title">MARSHMELLO</h5>
                <h5>Saturday, May 13th 2023</h5>
                <a href="/events">Reserve seats now!</a>
              </div>
            </div> 
            <div class="card mb-3">
              <img src="../../gifs/The_Jacksons__Blame_It_On_the_Boogie_Official_Video.gif" class="card-img-top" alt="The Jackson 5" />
              <div class="card-body">
                <h5 class="card-title">The Jackson 5</h5>
                <h5>Friday, May 26th 2023</h5>
                <a href="/events">Reserve seats now!</a>
              </div>
            </div> 

          <h3>June</h3>
            <div class="card mb-3">
              <img src="../../gifs/Oliver_Tree_and_Robin_Schulz__Miss_You_Official_Music_Video.gif" class="card-img-top" alt="Oliver Tree" />
              <div class="card-body">
                <h5 class="card-title">OLIVER TREE</h5>
                <h5>Thursday, June 1st 2023</h5>
                <a href="/events">Reserve seats now!</a>
              </div>
            </div>

  </div>
</div>
</div>