<div class="container-fluid">
    <div class="row py-2 px-0 mc-bg-primary text-white align-items-center">
        <div class="col-lg-3 text-start">
            <button onclick="history.back()" class="btn mc-btn-primary">Go Back</button>
        </div>
        <div class="col-lg-9">
            <h1 px-lg-5 ms-lg-5>{{name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>{{description}}</p>
            <p>{{location}}</p>
            <h2 class="text-center">Events</h2>
        </div>  
    </div>
</div>
  
<div class="container ">
    <div class="row row-cols-lg-3 row-cols-1 g-3 justify-content-center">
        {{#each events}}
        {{> event-details}}
        {{/each}}
    </div> 
</div>
