
    <h1>THE YURT</h1>
    <h1>THE YURT</h1>
    <h2></h2> ABOUT THE YURT</h2>
    <a href="/">HOME PAGE</a>
    <div>

        <img id="yurt-pic" src="https://th.bing.com/th/id/OIP.2r7MBmHe_MrSRQw775PY2AHaEn?w=289&h=180&c=7&r=0&o=5&pid=1.7"  alt="picture of the yurt concert venue" />


        <img id="yurt-seating-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaVUk6xz_8rFdfpsL9DEHgJ-jQE1ypJ5opyYzq74CIdA&s"  alt="picture of the yurt concert venue seating chart" />
    </div>
    <div>




    </div>




